{% load static %}

<footer class="fixed-bottom">
    <p>&copy; 2025 - BiblioPI</p>
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
            <svg class="bi my-1 theme-icon-active" aria-hidden="true">
                <use href="app\static\brightness-high-fill.svg"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" aria-pressed="true" data-bs-theme-value="light">Claro</button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" aria-pressed="false" data-bs-theme-value="dark">Escuro</button>
            </li>
        </ul>
    </div>
</footer>
