<footer class="py-3 my-4" id="footer-pos">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item d-flex align-items-center">
            <i class="bi bi-github me-2"></i>
            <a href="https://github.com/Smoothoperatooor/BiblioPI---INFO-G"
               class="nav-link px-2 text-body-secondary">
               GitHub
            </a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2025 BiblioPI</p>
</footer>
