{% load static %}
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
    

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <a class="navbar-brand" href="#">BiblioPI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/forum/">Fórum</a>
            </li>  
            {% if user.is_authenticated %}   
              <form class="logout" action="{% url 'logout' %}" method="post">
                {% csrf_token %}  
                <li class="nav-item">
                  <button type="logout-button" class="btn btn-link">Logout</button>
                </li>         
              </form>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login/">Login</a>
                </li>  
              {% endif %}
          </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/admin/">Admin</a>
              </li>
            </ul>
            <div class="btn-group dropend mb-3 me-3 bd-mode-toggle">
              <button type="button" class="" data-bs-toggle="dropdown" aria-expanded="false">
                Dropend
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" aria-pressed="true" data-bs-theme-value="light">Claro</button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" aria-pressed="false" data-bs-theme-value="dark">Escuro</button>
                </li>
            </ul>
            </div>
            
              <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
                  <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
              </button>
             
          </ul>
        </div>
      </nav>
</header>