<div class="flex-column align-items-stretch flex-shrink-0 bg-body-tertiary"
    style="height: 100vh; overflow-y: auto; overflow-x: hidden;">
    <a href="/"
        class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Tópicos</span>
    </a>

    <div class="list-group list-group-flush border-bottom scrollarea" id="lista-topicos">
        {% for topico in topicos %}
        <a href="{% url 'forum' topico.id %}" class="list-group-item list-group-item-action py-3 lh-sm"
            aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{ topico.nome }}</strong>
                <small>{{ topico.criado_em|date:"D" }}</small>
            </div>
            <div class="col-10 mb-1 small">
                <p>{{ topico.desc }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 p-3">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNovoTopico">
                Adicionar Tópico
            </button>
            {% else %}
            <button type="button" class="btn btn-primary" disabled>Login nescessário</button>
            {% endif %}
        </div>
    </div>
    <!-- Modal Criar Tópico -->
    <div class="modal fade" id="modalNovoTopico" tabindex="-1" aria-labelledby="modalNovoTopicoLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'novo_topico' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalNovoTopicoLabel">Novo Tópico</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <input required name="nome" type="text" class="form-control" placeholder="Nome do tópico">
                    </div>

                    <div class="modal-body">
                        <input required name="desc" type="text" class="form-control" placeholder="Descrição">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
<script src="sidebars.js" class="astro-vvvwv3sm"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentUrl = window.location.pathname;
        const links = document.querySelectorAll("#lista-topicos a");

        links.forEach(link => {
            if (link.getAttribute("href") === currentUrl) {
                link.classList.add("active");
            }
        });
    });
</script>