{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    {% include "partials/header.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include "partials/footer.html" %}
</body>

</html>