<style>
    .msg {
        transition: 0.2s ease;
    }
    .msg:hover{
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
    }
</style>

<div class="container p-5 bg-body-tertiary" style="min-height: 100vh;">
    <div class="container overflow-y-auto" style="height: 80vh;">
        {% for mensagem in mensagens %}
        <div class="bg-body-secondary flex-column border rounded-4 mb-3 p-3 msg">
            <strong>{{ mensagem.usuario.username }}</strong>
            <small class="text-muted">{{ mensagem.criado_em|date:"H:i" }}</small>
            <p class="mb-1">{{ mensagem.texto }}</p>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert">
            Esse forum ainda não tem mensagens, seja o primeiro!
        </div>
        {% endfor %}

    </div>
    <div class="container">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="submit">Enviar</button>
                <input name="texto" type="text" class="form-control" placeholder='Conversar em #{{ topico.nome }}'
                    required">
            </div>
        </form>
        {% else %}
        <fieldset disabled>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Enviar</button>
                <input name="texto" type="text" class="form-control" placeholder='Precisa estar logado' required">
            </div>
        </fieldset>
        {% endif %}
    </div>
</div>