{% extends "base.html" %}

{% block content %}
<style>
    html {
        overflow-x: hidden;
    }
</style>

    <div class="row">
        <!-- Sidebar -->
        <div class="col-3">
            {% include "partials/sidebar.html" %}
        </div>
        <!-- Chat dinâmico -->
        <div class="col-9">
            {% if topico %}
            {% include "chat.html" %}
            {% else %}
            <div class="container p-5">
                <div class="alert alert-warning" role="alert">
                    Escolha um tópico
                </div>
            </div>

            {% endif %}
        </div>
    </div>
{% endblock %}