{% extends "base.html" %}

{% block content %}

<div class="container my-5 shadow-lg p-3 bg-white rounded" style="height: 500px;">
    <nav class="navbar navbar-light bg-light p-3">
        <a class="navbar-brand">Trabalhos</a>
        <form class="d-flex">
            <input class="form-control" type="search" placeholder="Procurar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Filtrar</button>
        </form>
    </nav>
    <div class="overflow-y-auto" style="height: 80%;">
        <div class="row p-3">
        {% for arquivos in arquivos %}
            <div class="col-sm-4 p-3">	
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ arquivos.nome }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div> 
</div>

{% endblock %}